<div class="container-fluid" style="background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE);">
  <div class="row">
    <div class="col-sm-2">
      <h2 class="footerTitle">Follow Us</h2>
      <div class="iconimg">
          <a href="https://www.facebook.com/7classes"><img class="icon" src="./assets/iconfinder_facebook_circle_black_107153.png" alt="Cinque Terre"></a>
          <a href="https://plus.google.com/u/0/b/104629643285575433991/104629643285575433991?_ga=2.185567918.600604273.1498655937-2142835567.1498484581"><img class="icon" src="./assets/4-layers.png" alt="Cinque Terre"></a>
          <a href="https://twitter.com/classes_7"><img src="./assets/3-layers.png" alt="Cinque Terre" class="icon1"></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <p class="footer-mar footertext1">Shop No.1049, First floor,
          Heera Panna Shopping Centre,
          Powai, Mumbai-76
      </p>
    </div>
    <div class="col-sm-2">
        <h2 class="content" class="footerTitle1">Centers</h2>
    </div>
    <div class="col-sm-2">
      <p class="footer-mar footertext2">H/O - 104 - Bhawani Industrial Estate,
          Near EXCEL Tower, IIT Market
          Powai, Mumbai - 76
      </p>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <h2 class="footerTitle2">Contact</h2>
      <p class="footertext3">+91 9769 100305
          contact@7classes.com
      </p>
    </div>
  </div>
  <div class="row footermenu">
      <div class="col"></div>
      <div class="col"><a class="navmenutext nav-link" routerLink="" onclick="topFunction1()">Home</a></div>
      <div><a class="footercourses1 navmenutext nav-link" routerLink="/flagship-program" onclick="topFunction()">Flagship Program</a></div>
      <div class="col"><a class="footercourses navmenutext nav-link" routerLink="/courses" onclick="topFunction()">Courses</a></div>
      <!-- <div align="left" class="col"><a class="navmenutext nav-link" href="#OurTeam1" onclick="myFunction1()">OurTeam</a></div> -->
      <div class="col"><a class="navmenutext nav-link" routerLink="/contactus" onclick="topFunction()">Contact Us</a></div>
  </div>   
</div>  
