<div id="example3" style="background-image:url('./assets/Education-OpportunitySmall.jpg')">
  <img src="./assets/7.png" class="big7">
  <img class="logoimgmb" src="./assets/MasterLogopng.PNG" alt="Cinque Terre" width="175" height="160">
  <img src="./assets/rev-7.png" class="big71">
</div>