<!-- Start Advance Courses Tab -->
<div class="container">
  <h4 class="headertitletext">Advance Courses</h4>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item" class="advcourseTextBoxbutt">
      <a class="nav-link" data-toggle="tab" href="#OLYMPIAD">OLYMPIAD</a>
    </li>
    <li class="nav-item" class="advcourseTextBoxbutt">
      <a class="nav-link" data-toggle="tab" href="#SAT">SAT</a>
    </li>
    <li class="nav-item" class="advcourseTextBoxbutt">
        <a class="nav-link" data-toggle="tab" href="#NEET">NEET</a>
      </li>
      <li class="nav-item" class="advcourseTextBoxbutt">
        <a class="nav-link" data-toggle="tab" href="#AIIMS">AIIMS</a>
      </li>
        <li class="nav-item" class="advcourseTextBoxbutt">
          <a class="nav-link" data-toggle="tab" href="#JEEMAINS">JEE MAINS</a>
        </li>
        <li class="nav-item" class="advcourseTextBoxbutt">
          <a class="nav-link" data-toggle="tab" href="#JEEADVANCE">JEE ADVANCE</a>
        </li>
  </ul>

<!-- Tab panes -->
<div>
  <div class="tab-content">
    <div id="OLYMPIAD" class="container tab-pane active"><br><br>
      <div align="center">
          <img src="./assets/images/1200px-IMO_logo.svg.png" width="250px" height="150px" alt="Cinque Terre">
          <img src="./assets/images/Science_Olympiad_Logo.svg_.png" width="250px" height="150px" alt="Cinque Terre">
      </div>
     <div class="coursebck">
       <h5 style="margin-left:20px;margin-right:20px; margin-top:80px; padding-top:40px;" align="center">
        The most famous Olympiads are The International Mathematical Olympiad (IMO),
         The International Physics Olympiad (IPhO), 
         The International Chemistry Olympiad (IChO), 
         The International Biology Olympiad (IBO), 
         The International Olympiad in Informatics (IOI) and
        The International Astronomy Olympiad (IAO). 
        India conducts National Olympiads to identify the best students 
        who can represent India at the international level. 
        The Mathematical Olympiad Programme in India is organized by the 
        Homi Bhabha Centre for Science Education (HBCSE) on behalf of the 
        National Board for Higher Mathematics (NBHM) of the Department of Atomic Energy (DAE),
         Government of India. For the purpose of training and selection of students for the
         Olympiad, 25 regions all over the country have been designated and each assigned a 
         Regional Coordinator. Central Board of Secondary Education (CBSE), Navodaya Vidyalaya
          Samiti (NVS) and Kendriya Vidyalaya Sangathan (KVS) have a ‘Regional Coordinator’
           for the same purpose. The Mathematical Olympiad programme consists of five stages.</h5>
        <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
        <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
     </div>
    </div>
    <div id="SAT" class="container tab-pane fade"><br>
      <div align="center">
          <img src="./assets/images/PByohS4e.png" width="260px" height="250px" alt="Cinque Terre">
      </div>
     <div class="coursebck">
       <h5 style="margin-left:20px;margin-right:20px; margin-top:80px; padding-top:40px;" align="center">
        Classes for IVth, Vth, VIth, VIIth, VIIIth, IXth, Xth, XIth & XIIth are available,
         along with classes we provide basic & advanced useful full programme for 
         SAT examination.

        The SAT Reasoning Test is a standardized test for college admissions to 
        undergraduate courses in the United States. It gauges your critical 
        thinking skills which you will need for academic success in college and 
        it also assesses how well you analyze and solve problems. The current SAT 
        Reasoning Test is administered in about 3 hours and 45 minutes. 
        The SAT scores have a validity of five years although most good colleges
         prefer recent scores that are not more than 2 years old. SAT consists of 
         three major sections: Mathematics, Critical Reading, and Writing. 
         There is one more experimental section which can be of either type and 
         will not be known to the students.</h5>
        <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
        <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
     </div>
    </div>
    <div id="NEET" class="container tab-pane fade"><br>
      <div align="center">
          <img src="./assets/images/logo.png" class="logoIMAGE" alt="Cinque Terre">
      </div>
     <div class="coursebck">
       <h5 style="margin-left:20px;margin-right:20px; margin-top:80px; padding-top:40px;" align="center">
        National Eligibility cum Entrance Test is organized by the NTA for the admission of students for the
courses of MBBS and BDS. The test is applicable for Indian Medical/Dental colleges that are run with the
approval of Medical Council of India/Dental Council of India.</h5>
        <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
        <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
     </div>
    </div>
    <div id="AIIMS" class="container tab-pane fade"><br>
      <div align="center">
          <img src="./assets/images/aiims.png" width="260px" height="250px" alt="Cinque Terre">
      </div>
     <div class="coursebck">
       <h5 style="margin-left:20px;margin-right:20px; margin-top:80px; padding-top:40px;" align="center">
        This entrance examination is the gateway to one of the most coveted institutions for Medical aspirants. It
        is conducted by AIIMS, New Delhi for the 13 Colleges under it.</h5>
        <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
        <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
     </div>
    </div>
    <div id="KVPY" class="container tab-pane fade"><br>
      <div align="center">
          <img src="./assets/images/ssc-pune-logo.png" width="260px" height="250px" alt="Cinque Terre">
      </div>
     <div class="coursebck">
       <h5 style="margin-left:20px;margin-right:20px; margin-top:80px; padding-top:40px;" align="center">
        The "Kishore Vaigyanik Protsahan Yojana" (KVPY) is a program started in 1999 by 
        the Department of Science and Technology (DST), Government of India to encourage
         students who are studying Basic Sciences to take up research career in Science.
          Fellowship and contingency grants are provided to the selected KVPY Fellows up 
          to the pre Ph.D. level or 5 years whichever is earlier. In addition, summer camps
           for the KVPY Fellows are organized in prestigious research and educational
            institutions in the country.</h5>
        <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
        <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
     </div>
    </div>
    <div id="JEEMAINS" class="container tab-pane fade"><br>
      <div align="center">
          <img src="./assets/images/logo.png" class="logoIMAGE" alt="Cinque Terre">
      </div>
     <div class="coursebck">
       <h5 style="margin-left:20px;margin-right:20px; margin-top:80px; padding-top:40px;" align="center">
        Classes for Maths, Physics & Chemistry are available, along with classes we 
        provide exclusive material for each and every chepter of both subjects.</h5>
        <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
        <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
     </div>
    </div>
    <div id="JEEADVANCE" class="container tab-pane fade"><br>
      <div align="center">
          <img src="./assets/images/Indian_Institute_of_Technology_Roorkee_logo.png" width="260px" height="250px" alt="Cinque Terre">
      </div>
     <div class="coursebck">
       <h5 style="margin-left:20px;margin-right:20px; margin-top:80px; padding-top:40px;" align="center">
        Classes for Maths, Physics & Chemistry are available, along with classes we provide exclusive
         material for each and every chepter of both subjects.</h5>
        <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
        <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
     </div>
    </div>
  </div>
</div>
</div>
<!-- End Advance Courses Tab -->
