<div class="container">
<div class="row" id="example4" style="background-image:url('./assets/dart .png');">
  <div class="col-sm-12">
    <h1 class="headertitletext">Ultra- Bit Program</h1>
    <hr class="extline">
    <h3 class="mediaumText">A strategy for the topper to help them complete at level 1UP.
    </h3>
    <hr>
  </div>
  <div class="col-sm-1">
      <img src="./assets/rotation.png" class="imglogo1" alt="Cinque Terre"  >
  </div>
  <div class="col-sm-11">
    <div class="col-lg-12  col-md-6 col-sm-2 col-xs-1">
      <p class="vll"></p>
      <p class="para ptextbold">Students in Ultra-Bit Program are usually fast
                        learners who simply needs practice to do better
                        what they already know. Our professional teachers
                        have spent years in mastering the art of
                        teaching and offer students the best learning
                        experience with their acquired knowledge.
                        
                        <br><br><hr class="extline"><br>
                        Precision Learning is the art of maximising learning
                        for the student as per his/her capabilities.
                        It takes experienced faculty to judge the
                        capabilities of child and tailor his study routine
                        so as to gain maximum productivity.
      </p>
    </div>
  </div>
</div>
<hr class="ultrabitline">
<div class="row" id="example5" style="background-image:url('./assets/hand.png');">
  <div class="col-sm-12">
    <h1 class="headertitletext">Last-Bit Program</h1>
    <hr class="extline">
    <h3 class="mediaumText">Get the guarantee of positive result in just 90 days!</h3>
    <hr>
  </div>
  <hr class="line-cir">
  <div class="col-sm-3">
    <p class="vl"></p>
    <div class="sqr">
      <span></span>
    </div>
    <div style="margin-top:0px;">
      <div class="buttmb">
        <h4 class="lastbit">Maths & Science Focus</h4>
      </div>
      <p class="ptext ptext1">Our experts will help your child easily
                    learn concepts with deeper explanations
                  to ensure clarity.</p>
    </div>
    <p class="vl_line"></p>
  </div>
  <div class="col-sm-3">
    <p class="vl2"></p>
    <div class="sqr1">
      <span></span>
    </div>
    <div style="margin-top:40px;">
      <div class="buttmb1">
        <h4 class="lastbit">Test Series</h4>
      </div>
      <p class="ptext ptext1">Test Series and regular assessment
                  ensure proper understanding of the
                  child's performance and capabilities.
      </p>
    </div>
    <p class="vl_line"></p>
  </div>
  <div class="col-sm-3">
    <p class="vl3"></p>
    <div class="sqr2">
      <span></span>
    </div>
    <div style="margin-top:80px;">
      <div class="buttmb2">
        <h4 class="lastbit">Tailor Made By IIT Faculty</h4>
      </div>
      <p class="ptext ptext1">The Last-Bit Program has been tailor-made by
                  these professionals to provide conceptual clarity
                  fo the students after a through understanding of
                  syllabus requirements by the formal education
                  system.
      </p>
    </div>
    <p class="vl_line"></p>
  </div>
  <div class="col-sm-3">
    <p class="vl4"></p>
    <div class="sqr3">
      <span></span>
    </div>
    <div style="margin-top:120px;">
      <div class="buttmb3">
        <h4 class="lastbit">1 to 1 Teaching</h4>
      </div>
      <p class="ptext ptext1">In this program child get individual
                      attention from our top professionals
                      in the filed of Math & Science.
      </p>
    </div>
  </div>
  <hr class="line1">
</div>
