<div class="container">
<div class="row" id="OurTeam">
  <div class="col-sm-12" style="padding-left:40px; padding-right:40px;">
    <h1 id="OurTeam1" class="headertitletextour">OUR TEAM</h1>
    <hr class="extline">
    <p class="ptext11">
              The exceptionally outstanding results of 7 Classes will be due to the fact that
              the institute has deployed best faculty of the country who are continuously
              putting efforts not only to maintain the quality of the content but also
              ensuring that the content should be taught in an easy to understand
              language. Faculty panel comprises of highly renowned and experienced
              faculty members, from top IITs, NITs and from SUPER30. They are well known
              all over India for their easy and effective teaching methodologies. They are
              supported by a large team of teaching experts, content developers and
              researchers. For any educational institution, the most important asset is the
              quality of faculty. The faculty at 7 Classes which is drawn from academia and
              industry offers a combination of diverse talents and rich experience.
    
    </p>
    <div class="hide">
      <h3 class="mediaumText">Individual, We Are One Drop.... Together, We Are An Ocean.
        - Ryunosuke Satoro</h3>
    </div>

    <!-- start carosel -->
    <!--
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/Education-OpportunitySmall.jpg">
          </div>
          <div class="carousel-item">
            <img src="./assets/Education-OpportunitySmall.jpg">
          </div>
          <div class="carousel-item">
            <img src="./assets/Education-OpportunitySmall.jpg">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    --> 
    <!-- End carosel -->
    <!-- strat multi image carosel-->
        <div class="top-content">
          <div class="container-fluid">
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner row w-100 mx-auto" role="listbox">
                  <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
              <img src="assets/img/backgrounds/1.jpg" class="img-fluid mx-auto d-block" alt="img1">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <img src="assets/img/backgrounds/2.jpg" class="img-fluid mx-auto d-block" alt="img2">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <img src="assets/img/backgrounds/3.jpg" class="img-fluid mx-auto d-block" alt="img3">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <img src="assets/img/backgrounds/4.jpg" class="img-fluid mx-auto d-block" alt="img4">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <img src="assets/img/backgrounds/5.jpg" class="img-fluid mx-auto d-block" alt="img5">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <img src="assets/img/backgrounds/6.jpg" class="img-fluid mx-auto d-block" alt="img6">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <img src="assets/img/backgrounds/7.jpg" class="img-fluid mx-auto d-block" alt="img7">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <img src="assets/img/backgrounds/8.jpg" class="img-fluid mx-auto d-block" alt="img8">
            </div>
              </div>
              <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
            </div>
          </div>
        </div>
        
    <!-- end multi imageb-->
  </div>
</div>
<hr class="line1">
</div>