<div class="container">
<div class="row" id="example6" style="background-image:url('./assets/artboard.png');">
  <div class="col-sm-12">
    <h1 class="headertitletext">Test Series</h1>
    <hr class="extline">
    <h3 class="mediaumText">Multiple test series to in calculate the habit of formal reading, writing and comprehension.</h3>
    <hr>
  </div>
  <div class="col-sm-3" id="testseries">
    <div class="sqr-boder" id="testseries1">
      <img src="./assets/calculator.png" alt="Cinque Terre" id="imgsize">
      <div class="texttop">
         <button type="button" class="butt stitletext" disabled>Basic Math Test Series</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3" id="testseries">
    <div class="sqr-boder" id="testseries1">
      <div>
        <img src="./assets/live.png" alt="Cinque Terre" id="imgsize">
      </div>
      <div class="texttop" style="padding: right 20 !important;">
        <button type="button" class="butt stitletext" disabled>Live Test Series</button>
      </div> 
    </div>
  </div>
  <div class="col-sm-3" id="testseries">
    <div class="sqr-boder" id="testseries1">
      <img src="./assets/medal.png" alt="Cinque Terre" id="imgsize">
      <div class="texttop">
        <button type="button" class="butt stitletext" disabled>Olympaid Test Series</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3" id="testseries">
    <div class="sqr-boder" id="testseries1">
      <img src="./assets/stair.png"  alt="Cinque Terre" id="imgsize">
      <div class="texttop">
        <button type="button" class="butt stitletext" disabled>Foundation Tests</button>
      </div>
    </div>
  </div>
  <hr class="testseriseline">
</div>